.knob {
  background-color: black;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}

.arrow {
  position: relative;
  height: 1.5rem;
  width: .2rem;
  background-color: white;
}

