#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: black;
}

body {
  overflow-y: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  height: 80vh;
  width: 80vw;
  border-radius: 2rem;
  border: 1px solid black;
  padding: 2rem;
  background: linear-gradient(to left bottom, rgb(255, 115, 115), rgb(255, 82, 82));
}

h1 {
  text-align: center;
  align-self: center;
  box-shadow: 0 .25rem .5rem .5rem rgb(251, 143, 161);
  border-radius: 2rem;
  padding: 1rem;
  width: 70rem;
  color: #000;
}

.volume-and-octave {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30rem;
  justify-content: space-around;
}
